{% extends "planner/base.html" %}

{% block title %}Вход{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="bg-white p-4 rounded shadow-sm">
      <h1 class="h4 mb-3">Вход</h1>

      <form method="post">
        {% csrf_token %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger">{{ form.non_field_errors }}</div>
        {% endif %}

        <div class="mb-3">
          <label class="form-label">Логин</label>
          <input class="form-control" type="text" name="username" autofocus required>
        </div>

        <div class="mb-3">
          <label class="form-label">Пароль</label>
          <input class="form-control" type="password" name="password" required>
        </div>

        <button class="btn btn-primary w-100" type="submit">Войти</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
